
<footer data-testid="footer" class="p-6 text-center text-sm text-black dark:text-black">
	<p>
		Copyright ©. All rights reserved. Made by <a
			href="https://github.com/hajar-tech/myPortfolio"
			target="_blank"
			rel="noopener"
		>
			<span class="font-bold font-mono"> Zerhouni Hajar</span>
		</a>
	</p>

    <p class="flex gap-2 justify-center items-center">
        Send me an email <i class='bx bxs-envelope'></i>  <span class="font-bold">hajar.zerhounipr&#64;gmail.com</span>
    </p>
</footer>