<!-- From Uiverse.io by admin8756 --> 
<div class="card">
    <span class="title">My Skills</span>
    <div class="card__tags">
      <ul class="tag">
        
        
        <li class="tag__name">html</li>
        <li class="tag__name">Css</li>
        <li class="tag__name">Java Script</li>
        <li class="tag__name">ux/ui</li>
        <li class="tag__name">figma</li>
        <li class="tag__name">C</li>
        <li class="tag__name">java</li>
        <li class="tag__name">sql</li>
       
        <li class="tag__name">java ee</li>
        <li class="tag__name">angular</li>
        <li class="tag__name">bootstrap</li>
        <li class="tag__name">tailwind</li>
        
        <li class="tag__name">spring boot</li>
        <li class="tag__name">git</li>
        

        
      </ul>
    </div>
  </div>
  
