.nav-link {

    text-decoration: none; /* Retirer la sous-ligne */
    padding: 10px 15px;
    transition: color 0.3s ease; /* Transition douce */
  }
  
  /* Effet hover */
  .nav-link:hover {
    color: rgb(85, 80, 80); /* Changer la couleur du texte en rouge au survol */
  }
  .icons{
    size: 50px;
  }