<header class="flex-block" >
    <div class="flex m-4 justify-between align-center">
               
        <div class="flex  gap-2">
                <a href="https://github.com/hajar-tech/myPortfolio">
                    <i class='bx bxl-github' ></i>
                </a>
                
                <a href="https://www.linkedin.com/in/hajar-zerhouni-730575349/">
                    <i class='bx bxl-linkedin-square' ></i>
                </a>
        </div>
        
       <!-- number phone and email-->
        <div class="flex  gap-5 ">
            <div class="flex gap-2"> 
                <i class='bx bxs-phone'></i>
                <p>+212 34567890</p>
            </div>
            <div class ="flex gap-2">
                <i class='bx bxs-envelope'></i>
                <p>hajar.zerhounipr&#64;gmail.com</p>

            </div>
        </div>

    </div>
    <nav>
        <ul class="nav-list flex justify-center gap-10  mt-6">
            <li class="nav-link"><a routerLink="/">Home</a></li>
            <li class="nav-link"><a routerLink="/about">About</a></li>
            <li class="nav-link"><a routerLink="/projects">Projects</a></li>
            <li class="nav-link"><a routerLink="/contact">Contact</a></li>
        </ul>
    </nav>
</header>
