
<Section name='biography' class="p-6 mb-3 block xl:hidden" >
    <div>
        <img src="images/avatar.png" alt="my photo" class="w-32 h-32 rounded-full mx-auto" />
        <h1 class="text-black text-sm font-bold text-center">full stack developer</h1>
    </div>
    <div class="w-full items-center">
      
      
      <div class="col-span-full xl:row-start-1">
        <div class="gradient-text w-full mt-4 text-2xl xl:text-6xl xl:leading-snug xl:text-left leading-10 font-bold tracking-wide text-center">
          <h1 class="">
            Hi Im Hajar Zerhouni, a special human with some ability to love
            learning and working on teamwork.
        </h1>
        <p class="mt-4" > Exicited on working with new technologies and tools. I am a fast learner and
            I am always looking for new challenges to improve my skills and knowledge.   
        </p>
          
        </div>
      </div>
    </div>
    
  </Section>










  
